<h2>Gerenciamento de Produtos</h2>

<ul>
	<li>
		<button (click)="getProdutos()">Listar produtos</button>
		<ul *ngFor="let p of produtos">
			<li>
				{{p.id}} - {{p.nome}} - {{p.descricao}} - {{p.preco}} - {{p.quantidade}}
			</li>
		</ul>
	</li>
	<li>
		<button (click)="getProdutos()">Inserir produto</button>
		<ul *ngFor="let p of produtos">
			<li>
				{{p.id}} - {{p.nome}} - {{p.descricao}} - {{p.preco}} - {{p.quantidade}}
			</li>
		</ul>
	</li>
	<li>
		<button (click)="getProdutos()">Atualizar produto</button>
		<ul *ngFor="let p of produtos">
			<li>
				{{p.id}} - {{p.nome}} - {{p.descricao}} - {{p.preco}} - {{p.quantidade}}
			</li>
		</ul>
	</li>
	<li>
		<button (click)="getProdutos()">Excluir produto</button>
		<ul *ngFor="let p of produtos">
			<li>
				{{p.id}} - {{p.nome}} - {{p.descricao}} - {{p.preco}} - {{p.quantidade}}
			</li>
		</ul>
	</li>
</ul>

