<h2>Gerenciamento de Clientes</h2>

<ul>
	<li>
		<button (click)="getClientes()">Listar clientes</button>
		<ul *ngFor="let c of clientes">
			<li>
				{{c.id}} - {{c.nome}} - {{c.cpf}} - {{c.dataDeNascimento}}
			</li>
		</ul>
	</li>

	<li>
		<form>
			<label for="name">Name:</label><br>
			<input type="text" id="name" name="name"><br>
			<label for="cpf">Cpf:</label><br>
			<input type="text" id="cpf" name="cpf"><br>
			<label for="dataDeNascimento">Data de nascimento:</label><br>
			<input type="text" id="dataDeNascimento" name="dataDeNascimento"><br>
			<input type="submit" value="Incluir Cliente" (click)="postCliente()"><br>
		</form>
	</li>
	<li>
		<button (click)="getClientes()">Atualizar cliente</button>
		<ul *ngFor="let c of clientes">
			<li>
				{{c.id}} - {{c.nome}} - {{c.cpf}} - {{c.dataDeNascimento}}
			</li>
		</ul>
	</li>
	<li>
		<button (click)="getClientes()">Excluir cliente</button>
		<ul *ngFor="let c of clientes">
			<li>
				{{c.id}} - {{c.nome}} - {{c.cpf}} - {{c.dataDeNascimento}}
			</li>
		</ul>
	</li>
</ul>
